$header-font:'Poppins', sans-serif, arial;
$body-font:'open sans';
$primary-color:hsl(193, 100%, 96%) ;
$secondary-color:hsl(192, 100%, 9%) ;
$tetiary-color:hsl(208, 11%, 55%) ;
$background-color:hsl(322, 100%, 66%) ;

