
footer{
    background-color:$secondary-color ;
    padding: 5rem 0.2rem 2rem 0.2rem;
    .footer-main-div{
        font-weight: 300;
        color:$primary-color;
        line-height: 2;

        .footer-main-div-container{
            .footer-main-div-container-section{
                .footer-main-div-1 {
                    display: flex;
                    .footer-svg-container{
                        padding: 0.3rem 2rem 0 0;
                    }
                    p{
                        margin: 0 0 1rem 0;
                    }
                }
            }
            .footer-main-div-container-ul{
                list-style: none;
                padding: 0;
                margin: 0;
                a{
                    text-decoration: none;
                    color: $primary-color;
                    font-size: 0.9rem;
                }
            }
            .footer-main-div-container-last{
                margin: 0 1rem 0 0;
                text-align: center;
            }
        }
        &-2{
            p{
                text-align: center;
                font-size: 0.8rem;
            }
            ul{
                padding: 0;
                li{
                    list-style: none;
                    text-align: center;
                    a{
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
}